**/xcuserdata/
**/*.xcuserstate
.DS_Store
**/.DS_Store
/PesVres/build/
/vendor/bundle/
/fastlane/README.md
/fastlane/report.xml
/backend/.venv/
/backend/db.sqlite3
/backend/staticfiles/
**/__pycache__/
**/*.pyc
