DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,api.playtapten.com,review.playtapten.com
DJANGO_CSRF_TRUSTED_ORIGINS=https://api.playtapten.com,https://review.playtapten.com
DJANGO_USE_X_FORWARDED_HOST=0
DJANGO_SESSION_COOKIE_SECURE=0
DJANGO_CSRF_COOKIE_SECURE=0
DJANGO_SECURE_SSL_REDIRECT=0
DJANGO_SECURE_HSTS_SECONDS=0
DJANGO_SECURE_HSTS_INCLUDE_SUBDOMAINS=0
DJANGO_SECURE_HSTS_PRELOAD=0
TAPTEN_SQLITE_PATH=backend/db.sqlite3
TAPTEN_API_HOST=api.playtapten.com
TAPTEN_REVIEW_HOST=review.playtapten.com
